@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(/imagens/fundo-madeira.jpg) no-repeat top center;
    background-color: black;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela{
   position: relative;
   top: 80px;
   left: 22px;
   width: 268px;
   height: 471px;
}

img#icon{
   height: 50px;
   width: 50px;
   border-radius: 360%;
   box-shadow: 1px 1px 1px black;
   margin: 12px;
}

