@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: black;
}

body{
    background: url(/imagens/fundo-madeira.jpg) no-repeat top center;
    background-color: black;
}


/*Centralizar imagem*/
img#iphone{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Tirar a borda e a rolagem, utilizar a imagem inicial fixa, fazer as pags de rede.*/
iframe#tela{
    position:absolute;
    width: 280px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

img#icon{
   height: 50px;
   width: 50px;
   border-radius: 360%;
   box-shadow: 1px 1px 1px black;
   margin: 12px;
}

